<!DOCTYPE html>
<html>
    <head>
        <title>Chat IP</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/chat.css">
        <script type="text/javascript" src="/script/chat.js"></script>
    </head>
    <body>
        <p>Welcome, <p id="name">{{username}}</p></p>
        <div>
            <div class="chat" id="feed_view">
                <p>[chat]</p>
            </div>
            <div>
                <form action = "javascript:void(0);" onsubmit="return send_message();">
                    <input name="message" type="text">
                    <input name="sub_mes" type="submit" value="Enviar">
                </form>
            </div>
        </div>

    </body>
</html>