<!DOCTYPE html>
<html>
    <head>
        <title>Tu RFC ha sido generado!</title>
        <meta charset="utf-8">
        <script>
            console.log("javascript al cien");
        </script>
    </head>
    <body>
        <div>
            <p>Tu RFC es: {{rfc}}</p>
        </div>
    </body>
</html>