<!DOCTYPE html>
<html>
    <head>
        <title>Saludo</title>
    </head>
    <body>
        <div>
            <p>
                Un saludo, {{name}}
            </p>
        </div>
    </body>
</html>